// 侧边栏搭配-方案1
$menuText:#bfcbd9;
$menuActiveText:#409EFF;
$subMenuActiveText:#f4f4f5; 

$menuBg:#304156;
$menuHover:#263445;

$subMenuBg:#1f2d3d;
$subMenuHover:#001528;

$sideBarWidth: 210px;

// 方案2
// $menuActiveText:#e3bd77;

// $menuBg:#566D97;
// $menuHover:#12213d;

// $subMenuBg:#36445E;
// $subMenuHover:#12213d;

// 方案3
// $menuActiveText:#997f2d;

// $menuBg:#515070;
// $menuHover:#6c6aa4;

// $subMenuBg:#1c1a49;
// $subMenuHover:#6c6aa4;

// 方案4
// $menuActiveText:#b76c2e;

// $menuBg:#006666;
// $menuHover:#2db3b3;

// $subMenuBg:#004242;
// $subMenuHover:#2db3b3;

:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
